# Ignore all node_modules in any folder
**/node_modules/

# Ignore all .env files in any folder
**/.env

# Ignore Mac/Windows system files
.DS_Store
Thumbs.db

# build
dist/
build/

# env
.env

# logs
*.log

# OS files
.DS_Store

# zip / temp
*.zip
tmp/

# media
*.webm

# test files
test-*